body {
	font-family:Arial, Helvetica;
	color:black;
	font-size:20px;
	background-color:black;
	height:100%;
	margin:0;
}

.viewButton {
	display:inline-block;
	cursor:pointer;
	text-align:center;
	color:black;
}

.upgradeButton {
	display:block;
	cursor:pointer;
	text-align:center;
	color:black;
	
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
	width: 34px;
    padding: 0;
    text-align: center;
}

.newRow {
	height:35px;
	display:table;
	
}


#mainContainer {
	display:block;
	margin:auto;
	height:100%;
	width:900px;
	border:3px;
}

#playSpace {
	background-color:grey;
	position:relative;
	overflow:hidden;
	height:100%;
	width:inherit;
}

#drawOrigin {
	position:relative;
	height:100%;
}

#viewBar {
	position:fixed;
	bottom:0;
	height:30px;
	width:inherit;
	background-color:#444444;
	z-index:999;
	display:block;
}

#upgradeBar {
	padding-top:30px;
	position:absolute;
	right:0;
	height:100%;
	width:150px;
	background-color:#444444;
	z-index:999;
	display:block;
}

#controlPanel {
	 position:fixed;
	 bottom:30px;
	 height:210px;
	 width:100%;
	 background-color:#777777;
	 z-index:999;
	 display:none;
	 overflow:auto;
}
